.product_insert_paper{
    padding: 15px;
}
.product_insert_img{
    max-width: 200px;
    max-height: 200px;
    width: max-content;
    margin: auto;
}
@media only screen and (max-width: 600px) {
    .product_insert_img{
        max-width: 100px;
        max-height: 100px;
    }
  }